// Файл для подключения шрифтов и библиотек.
// Писать в этом файле свои стили ОЧЕНЬ не рекомендуется, все стили должны быть разнесены по блокам.
@use "style" as *;
@use "pkg:normalize.css";
@include site-fonts;

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	background-color: $body-background;
	color: $body-text-color;
	font-family: $body-font-family;
}

img {
	max-width: 100%;
}
