@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "config" as *;

// Это библиотечные миксины, их править и дополнять нельзя.
// Свои миксины размещайте в файле _mixins_app.scss

@mixin breakpoint($breakpoint) {
	$width: 0;
	$only: false;
	$known: map.keys($breakpoints);
	$keys: list.length($known);

	@if meta.type-of($breakpoint) == "list" {
		$only: "only" == list.nth($breakpoint, 2);
		$breakpoint: list.nth($breakpoint, 1);
	}

	@if map.has-key($breakpoints, $breakpoint) {
		$width: #{map.get($breakpoints, $breakpoint)};
	} @else if meta.type-of($breakpoint) == "number" {
		$width: #{$breakpoint};
	}

	@if 0 == $width {
		@warn "Нет брейкпоинта #{"" + $breakpoint}. Доступные значения: #{$known}.";
	} @else {
		$width: add-unit($width, "px");
		$conditions-block: "(min-width: #{$width})";

		@if $only {
			$next-key: 0;

			@if map.has-key($breakpoints, $breakpoint) {
				$next-index: list.index($known, $breakpoint) + 1;

				@if $keys >= $next-index {
					$next-key: list.nth($known, $next-index);
				}
			} @else {
				@each $key in $known {
					@if $next-key == 0 {
						@if map.get($breakpoints, $key) > $breakpoint {
							$next-key: $key;
						}
					}
				}
			}

			@if map.has-key($breakpoints, $next-key) {
				$additional-rule: "(max-width: #{add-unit(map.get($breakpoints, $next-key) - 1, "px")})";
				$conditions-block: "#{$conditions-block} and #{$additional-rule}";
			}
		}

		@media screen and #{$conditions-block} {
			@content;
		}
	}
}

@mixin font-face($name, $path, $weight: normal, $style: normal, $woff2: false) {
	$src: if($woff2, list.append(null, url($path + ".woff2") format(string.quote("woff2"))), null);
	$src: list.append($src, url($path + ".woff") format(string.quote("woff")), comma);

	@font-face {
		font-family: string.quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@function add-unit($val, $unit) {
	@if meta.type-of($val) != "string" {
		$val: #{$val};
	}

	@if null == string.index($val, $unit) and $val != "0" {
		$val: #{$val}#{$unit};
	}

	@return $val;
}
